@import url("https://rsms.me/inter/inter.css");

:root {
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #3498db;
  --color-background: #34495e;
  --color-text: #ecf0f1;
  --color-accent: var(--color-signal);
  --size-bezel: 0.5rem;
  --size-radius: 4px;
}

body {
  margin: 0;
  padding: 0;

  width: 20rem;

  background: var(--color-background);

  border-radius: var(--size-radius);
  font-family: Verdana, sans-serif;
  font-weight: 300;
  line-height: 1.4;
  color: var(--color-text);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: calc(var(--size-bezel) * 2);
}

h1,
h2,
h3 {
  margin: 0;
}

#loading {
  position: absolute;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background: var(--color-background);

  margin: 0;
  padding: 0;
}

#loading > div {
  width: 3em;
  height: 3em;

  border: 0.5em solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.5em solid var(--color-signal);

  animation: spin 2s linear infinite;
}

body::before,
#loading::before {
  content: "";
  width: 200%;
  height: 200%;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  position: absolute;
  /* opacity: 0.25; */
  opacity: 0.15;
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#switch {
  position: relative;

  display: inline-block;

  width: 3em;
  height: 1.7em;
}

#switch__input {
  width: 0;
  height: 0;

  opacity: 0;
}

#switch__span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #ccc;

  border-radius: 1.7em;

  cursor: pointer;
  transition: 0.4s;
}

#switch__span:before {
  position: absolute;
  content: "";
  left: 0.25em;
  bottom: 0.25em;

  width: 1.2em;
  height: 1.2em;
  background-color: var(--color-text);

  border-radius: 50%;

  transition: 0.4s;
}

#switch__input:checked + #switch__span {
  background-color: var(--color-signal);
}

#switch__input:focus + #switch__span {
  box-shadow: 0 0 1px var(--color-signal);
}

#switch__input:checked + #switch__span:before {
  transform: translateX(1.3em);
}

#popup {
  padding: calc(2 * var(--size-bezel));
}

#list {
  list-style-type: none;
  margin: 0.5rem 0;
  padding-inline-start: 0;

  font-size: 14px;
  font-weight: 500;
}

#list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.25rem 0;

  color: var(--color-text);
}

#list__remove {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

#list__remove > * {
  pointer-events: none;
}

#list__remove:hover {
  opacity: 0.5;
}

#text {
  position: relative;
}

#text__span {
  position: absolute;
  left: 0;
  top: 0;

  background-image: none;
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);

  white-space: nowrap;

  transform: translate(0, 0);
  transform-origin: 0 0;
  transition: transform 120ms ease-in;

  font-weight: 500;
  line-height: 1.2;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--color-text);
  box-shadow: inset 0 0 20px 20px var(--color-background);
}

#text__input {
  box-sizing: border-box;
  display: block;

  width: 100%;

  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  background: transparent;

  color: var(--color-text);

  border: 2px solid var(--color-text);
  border-radius: var(--size-radius);

  transition: all 0.2s ease-in;
}

#text__input:focus,
#text__input:not(:placeholder-shown) {
  outline: none;
  border-color: var(--color-accent);
}

#text__input:focus + #text__span,
#text__input:not(:placeholder-shown) + #text__span {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: var(--color-accent);
  background: var(--color-background);
}

#buttons {
  margin-top: calc(var(--size-bezel) * 2.5);
}

button {
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);

  border: none;
  border: 2px solid var(--color-signal);

  border-radius: var(--size-radius);
  font-weight: 500;
  cursor: pointer;

  transition: all 0.2s ease-in;
}

button:hover {
  opacity: 0.8;
}

button[type="reset"] {
  color: var(--color-signal);
  background: none;
}

button[type="submit"] {
  color: var(--color-text);
  background: var(--color-accent);
}

button:active {
  position: relative;
  top: 1px;
}

button + button {
  margin-left: calc(var(--size-bezel) * 2);
}

#version {
  position: absolute;
  bottom: 5px;
  right: 5px;
}